#explore {
    position: relative;
    min-height: 100vh;
    height: 300vh;
    background-color: var(--color-rainbow);
    transition: var(--duration-rainbow) background-color
}

#content {
    position: sticky;
    top: 0;
    height: var(--innerHeight);
    transition: .4s height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}

@media (max-width: 600px) {
    #content {
        padding: 12.5px;
    }
}

#shortcuts {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shortcuts button {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .5);
}

#shortcuts button:first-of-type {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#shortcuts button:nth-of-type(3) {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#shortcuts button:last-of-type {
    margin-left: 5px;
    border-radius: 25px;
}

#shortcuts i {
    font-size: 25px;
    vertical-align: text-top;
    color: var(--color-rainbow);
    transition: var(--duration-rainbow) color;
}

#shortcuts button:hover {
    background-color: white;
}